$break-large: 1280px;
$break-medium: 540px;

.logoWrapper {
	padding: 1rem;
	// position: absolute;
	z-index: 99;
}
.svg {
	width: 35vw;
	@media screen and (min-width: $break-medium) {
		width: 20vw;
	}
	@media screen and (min-width: $break-large) {
		width: 15vw;
	}
}
