.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-image: repeating-linear-gradient(
			135deg,
			hsla(64, 83%, 54%, 0.05) 0px,
			hsla(64, 83%, 54%, 0.05) 1px,
			transparent 1px,
			transparent 11px,
			hsla(64, 83%, 54%, 0.05) 11px,
			hsla(64, 83%, 54%, 0.05) 12px,
			transparent 12px,
			transparent 32px
		),
		repeating-linear-gradient(
			180deg,
			hsla(64, 83%, 54%, 0.05) 0px,
			hsla(64, 83%, 54%, 0.05) 1px,
			transparent 1px,
			transparent 11px,
			hsla(64, 83%, 54%, 0.05) 11px,
			hsla(64, 83%, 54%, 0.05) 12px,
			transparent 12px,
			transparent 32px
		),
		repeating-linear-gradient(
			90deg,
			hsla(64, 83%, 54%, 0.05) 0px,
			hsla(64, 83%, 54%, 0.05) 1px,
			transparent 1px,
			transparent 11px,
			hsla(64, 83%, 54%, 0.05) 11px,
			hsla(64, 83%, 54%, 0.05) 12px,
			transparent 12px,
			transparent 32px
		),
		repeating-linear-gradient(
			225deg,
			hsla(64, 83%, 54%, 0.05) 0px,
			hsla(64, 83%, 54%, 0.05) 1px,
			transparent 1px,
			transparent 11px,
			hsla(64, 83%, 54%, 0.05) 11px,
			hsla(64, 83%, 54%, 0.05) 12px,
			transparent 12px,
			transparent 32px
		),
		linear-gradient(180deg, rgb(59, 10, 55), rgb(65, 10, 33));
	.logoContainer {
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	.cubeContainer {
		position: absolute;
		bottom: 6rem;
		right: 6rem;
	}
}
