@import './variables.scss';

.container {
	//padding: 0 0.5rem;
	display: flex;
	flex-direction: column;

	// align-items: center;
	//background-color: $background;
}

.main {
	overflow: hidden;
	min-height: 100vh;
	//padding: 5rem 0;
	// flex: 1;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	//align-items: center;
	.titleContainer {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		align-items: center;
		flex-direction: column;
		.title {
			text-align: center;
			margin: 0;
			line-height: 1.15;
			font-size: 5rem;
			font-weight: 900;
			color: $blue;
			//text-transform: uppercase;
		}
		.subTitle {
			text-align: center;
			margin: 0;
			line-height: 2.15;
			font-size: 1rem;
			font-weight: 600;
			color: $yellow;
			//text-transform: uppercase;
		}
	}
}
.linkBoxContainer {
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	justify-content: space-around;
	padding: 1rem;
}

@media (max-width: 760px) {
	.main {
		padding: 0;
		.titleContainer {
			.title {
				font-size: 1.8rem;
			}
		}
	}
}
