%row-style {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #12e5c9;

	.row1 {
		@extend %row-style;

		.column1 {
			flex: 0 0 25vw;
			height: 30vh;
		}
		.column2 {
			flex: 0 0 75vw;
			height: 30vh;
		}
	}
	.row2 {
		@extend %row-style;

		.column1 {
			flex: 1;
			height: 30vh;
		}
		.column2 {
			flex: 1;
			height: 30vh;
		}
	}
	.row3 {
		@extend %row-style;

		.column1 {
			flex: 0 0 80vw;
			height: 30vh;
			.row1 {
				background-color: #12e5c9;
				height: 50%;
			}
			.row2 {
				height: 50%;
				.col1 {
					background-color: rgb(99, 99, 99);
					flex-grow: 1;
				}
				.col2 {
					background-color: rgb(90, 62, 62);
					flex-grow: 1;
				}
			}
		}
		.column2 {
			flex: 0 0 20vw;
			height: 30vh;
		}
	}
	.row4 {
		@extend %row-style;
		height: 10vh;
		background-color: rgb(14, 223, 94);
	}
}

/* Desktop layout */
@media (max-width: 1280px) {
}
